@charset "UTF-8";

.section:nth-of-type(1) {
	background-image: url(../../assets/img/last_of_us_part_2-wallpaper-1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	color: white;
}

.main > p:nth-of-type(1) {
	font-size: 11em;
}

.main > p:nth-of-type(2) {
	margin-bottom: 25px;
	font-size: 4.75em;
}

.main > p:nth-of-type(3) {
	font-size: 1.15em;
}

.title {
	display: grid;
	height: 30vh;
	text-align: center;
	color: rgb(0, 0, 50);
}

.title > p:nth-of-type(1) {
	font-size: 1.15em;
	margin-top: 10px;
}

.title > p:nth-of-type(2) {
	font-size: 3.5em;
	font-weight: bold;
}

.title > hr {
	border-top: 3.5px solid rgb(0, 0, 50);
	width: 55px;
	margin-bottom: 50px;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	height: 70vh;
}

.contact-body {
	display: inline-grid;
	width: 480px;
	height: 300px;
	min-width: 480px;
	margin: 15px;
}

.contact-body > img {
	width: 100%;
	height: 100%;
	border-radius: 35px;
}

.contact-body > p:nth-of-type(1) {
	font-size: 2em;
	color: rgb(0, 0, 50);
	margin-bottom: 8px;
}

.contact-body > p:nth-of-type(2) {
	font-size: 1.15em;
	color: gray;
	margin-bottom: 20px;
}

.contact-body > p:nth-of-type(3) {
	font-size: 1.15em;
	color: lightgray;
	line-height: 1.3em;
	margin-bottom: 20px;
}

.contact-body > a {
	font-size: 1.15em;
	color: rgb(0, 0, 50);
}

.sns-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2em;
}

.sns-link > a > img {
	width: 25px;
	margin-right: 20px;
	height: auto;
}

@media (max-width: 1000px) {
	.main > p:nth-of-type(1) {
		font-size: 9em;
	}
	
	.main > p:nth-of-type(2) {
		font-size: 3.75em;
	}
	
	.main > p:nth-of-type(3) {
		font-size: 1.15em;
	}
	
	.content {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	
	.contact-body {
		display: inline-grid;
		width: 288px;
		height: 180px;
		min-width: 288px;
		margin: 15px;
	}
	
	#fp-nav {
		display: none;
	}
}
